* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}


/* header styles */

.header {
    background-image: url('../images/banner/banner2.png');
    height: 100vh;
}

.header-content {
    padding: 200px 230px 130px 750px;
    text-align: right;
    width: 530px;
}

.header-content .title {
    font-weight: 700;
    font-size: 65px;
    margin-bottom: 24px;
}

.header-content .description {
    margin-bottom: 24px;
    color: #444343;
}

.header-btn {
    border: 0;
    background-color: #fd6e0a;
    color: #ffffff;
    padding: 20px 26px;
    font-weight: 600;
    font-size: 20px;
    border-radius: 5px;
}


/* main section styles */

main {
    margin: 130px 230px;
}


/* failures section */

.failures {
    display: flex;
    align-items: center;
    gap: 90px;
}

.failures-title {
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.failures-description {
    margin-bottom: 20px;
    color: #444343;
}

.failures-content ul {
    list-style: none;
}

.failures-content ul li {
    margin-bottom: 8px;
    color: #444343;
}

.failures-content ul li i {
    margin-right: 8px;
}


/* plans section styles */

.plans {
    margin-top: 124px;
    text-align: center;
}

.plans-title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 40px;
}

.plans-container {
    display: flex;
    justify-content: space-between;
}

.plans-item img {
    margin-bottom: 24px;
}

.plans-item h3 {
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;
}

.plans-item p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}


/* positive section styles */

.positive {
    margin-top: 124px;
    background-image: url('../images/watch.png');
    height: 300px;
    background-repeat: no-repeat;
    border-radius: 5px;
}

.positive-content {
    padding: 59px 600px 59px 64px;
}

.positive-title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    color: #ffffff;
}

.positive-content button {
    border: 0;
    border-radius: 5px;
    color: #fd6e0a;
    background-color: #ffffff;
    padding: 21px 36px;
    font-weight: 600;
    font-size: 20px;
}


/* footer styles */

.footer {
    background-color: black;
    color: white;
}

.footer-container {
    display: flex;
    gap: 330px;
    padding: 130px 230px;
}

.footer-title {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.footer-description {
    margin-bottom: 24px;
}

.social-media {
    display: flex;
    gap: 10px;
}

.subscribe h3 {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 30px;
}

.subscribe input {
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width: 250px;
    background-color: #151414;
    outline: none;
    border: 1px solid white;
}

.subscribe button {
    border-radius: 10px;
    padding: 15px 36px;
    color: #f15b22;
    font-weight: 600;
    font-size: 20px;
}